<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.androidcrypto.wertpapierkurse">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wertpapierkurse">
        <activity
            android:name=".ManageBookings"
            android:exported="false" />
        <activity
            android:name=".LineBarChartTest"
            android:exported="false" />
        <activity
            android:name=".AddStock"
            android:exported="false" />
        <activity
            android:name=".MaintainStocklist"
            android:exported="false" />
        <activity
            android:name=".BrowseFolder"
            android:exported="false" />
        <activity
            android:name=".ListFiles"
            android:exported="false" />
        <activity
            android:name=".ShowPriceChart"
            android:exported="false" />
        <activity
            android:name=".DownloadHistoricPrices"
            android:exported="false" />
        <activity
            android:name=".StockMaintenance"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="de.androidcrypto.wertpapierkurse.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- ressource file to create -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>